.search {
  background: #fff;
  padding: 30px;
}
.search ul {
  padding: 0;
}
.search ul li {
  height: 90px;
  padding: 20px;
  background: #F7F9FA;
  margin: 0 0 16px 0;
}
.search ul li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 15px 0 0;
}
.search ul li .info {
  margin: 2px 0 0 0;
}
.search ul li .date_time {
  font-size: 12px;
  margin: 8px 0 0 0;
}
